/* ライトモードのスタイル */
body {
    background-color: white;
    color: black;
}

h2 {
    margin-left: 20px;
    border-bottom: 1px solid black;
}

h3 {
    margin-left: 40px
}

h4 {
    margin-left: 60px
}

ul {
    font-size: 16px;
}

/* ダークモードのスタイル */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    /* 追加のスタイルをここに追加 */
    .container {
        background-color: #333;
    }

    input[type="checkbox"] {
        accent-color: white;
    }

    h2 {
        border-bottom: 1px solid white;
    }

    :link {
        color: cyan;
    }

    :visited {
        color: lightblue;
    }
}